.bimp-wrapper {
  display: flex;
  /* flex-direction: column; */
  min-height: 0;
  min-width: 0;
  flex: 1 1 0;
}

.bimp-workspace {
  display: grid;
  grid-template-columns: max-content content max-content;
  grid-template-rows: max-content content max-content;
  grid-template-areas:
    "tl t tr"
    "l c r"
    "bl b br";

  flex: 1 1 0;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.bimp-layers {
  grid-area: c;
  overflow: hidden;
  position: relative;
  /* border: 1px solid #111; */
  background-color: #3f3f3f;
}

.bimp-layers > * {
  position: absolute;
}

.bimp-gutter {
  overflow: hidden;
  min-height: 0;
  min-width: 0;
  user-select: none;
}

.bimp-gutter-l {
  grid-area: l;
  justify-self: end;
}

.bimp-gutter-r {
  grid-area: r;
  justify-self: start;
}

.bimp-gutter-b {
  align-self: start;
  grid-area: b;
}

.bimp-gutter-t {
  grid-area: t;
  align-self: end;
}
