*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2d2c2c;
  color: #dadada;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

body {
  padding: 4rem;
  /* overflow: hidden; */
}

section {
  margin-top: 3rem;
}

.two-col {
  display: flex;
}

.two-col > * {
  flex: 1 1 0;
}
