html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vh;

  background-color: #2d2c2c;
  color: #dadada;
  display: flex;
}

.bimp-view {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
    ". t ."
    "l c r"
    ". b .";

  flex: 1;
}

.bimp-view .bimp-layers {
  grid-area: c;
  overflow: hidden;
  position: relative;
  border: 1px solid #111;
  background-color: #3f3f3f;
}

.bimp-canvas {
  /* box-shadow: 0px 0px 5px black; */
  /* border: 1px solid #111; */
}

.bimp-layers > * {
  position: absolute;
}

.bimp-gutter {
  overflow: hidden;
  user-select: none;
}

.bimp-view .bimp-gutter-l {
  grid-area: l;
  justify-self: end;
}

.bimp-view .bimp-gutter-b {
  align-self: start;
  grid-area: b;
}

.bimp-view .bimp-gutter-t {
  grid-area: t;
  align-self: end;
}

.bimp-view .bimp-gutter-r {
  grid-area: r;
  justify-self: start;
}
