html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vh;

  background-color: #2d2c2c;
  color: #dadada;
  display: flex;
}

.bimp-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  flex: 1;
}

.bimp-workspace {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    ". t ."
    "l c r"
    ". b .";

  flex: 1;
  min-height: 0;
  min-width: 0;
}

.bimp-layers {
  grid-area: c;
  overflow: hidden;
  position: relative;
  border: 1px solid #111;
  background-color: #3f3f3f;
}

.bimp-layers > * {
  position: absolute;
}

.bimp-gutter {
  overflow: hidden;
  user-select: none;
}

.bimp-gutter-l {
  grid-area: l;
  justify-self: end;
  width: min-content;
}

.bimp-gutter-b {
  align-self: start;
  grid-area: b;
}

.bimp-gutter-t {
  grid-area: t;
  align-self: end;
}

.bimp-gutter-r {
  grid-area: r;
  justify-self: start;
}
